@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes shimmer-animation {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer-container {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer-animation 1.5s infinite;
  border-radius: 0.375rem; 
}

.animate-shimmer-line {
  height: 1em; 
  margin-bottom: 0.5em; 
}

.animate-shimmer {
  animation: shimmer-animation 1.5s infinite;
}
